.searshBox {
  background-color: cadetblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 400px;
}

.searchInput {
  background-color: rgb(230, 246, 244);
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
  border: none;
}
